- name: Setup Build Environment
  run: |
    sudo apt update
    sudo apt install -y \
      python3-pip \
      openjdk-17-jdk \
      wget unzip git \
      autoconf automake libtool \
      pkg-config \
      zlib1g-dev \
      libncurses5-dev \
      libffi-dev \
      libssl-dev
    pip3 install --upgrade pip
    pip3 install cython==0.29.33
    pip3 install buildozer
