name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Setup Build Environment
        run: |
          sudo apt update
          sudo apt install -y python3-pip openjdk-17-jdk
          pip3 install buildozer
      - name: Build with Buildozer
        run: buildozer android debug
        timeout-minutes: 50
      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: bin/*.apk
          retention-days: 7
