name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        run: |
          sudo apt update
          sudo apt install -y python3-pip openjdk-11-jdk
          pip3 install buildozer
      - name: Build
        run: buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: app
          path: bin/*.apk
