name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 60  # افزایش زمان
    steps:
      - uses: actions/checkout@v4
      - name: Setup Build Environment
        run: |
          sudo apt update
          sudo apt install -y \
            python3-pip \
            openjdk-17-jdk \  # آپدیت به JDK 17
            wget \
            unzip \
            git \
            autoconf \
            automake
          pip3 install --upgrade pip setuptools wheel
          pip3 install buildozer cython==0.29.33
      - name: Build APK with Buildozer
        run: |
          # تنظیمات حافظه برای جلوگیری از crash
          export BUILD_MAX_JOBS=2
          # ساخت
          buildozer -v android debug
        timeout-minutes: 50
      - name: Upload APK Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: bin/*.apk
          retention-days: 7
