- name: Setup Build Environment
  run: |
    sudo apt update
    sudo apt install -y \
      python3-pip \
      openjdk-17-jdk \
      wget unzip git \
      autoconf automake libtool \
      pkg-config \
      zlib1g-dev libncurses5-dev \
      libncursesw5-dev libtinfo5 \
      cmake \
      ffmpeg \
      libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev \
      libportmidi-dev \
      libswscale-dev libavformat-dev libavcodec-dev \
      libgstreamer1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good
    pip3 install --upgrade pip setuptools wheel
    pip3 install buildozer cython==0.29.33
